.product {
    width        : 100%;
    max-width    : 120rem;
    margin       : auto;
    margin-top   : 10rem;
    display      : flex;
    position     : relative;
    // height    : 70vh;

    &__img {
        position     : relative;
        width        : 50%;
        height       : 100%;
        border-radius: 10px;
        overflow: hidden;

        &>img {
            height       : 100%;
            width        : 80%;
            object-fit   : cover;
            border-radius: 10px;
            transition: transform 0.8s;
            cursor: pointer;

            &:hover {
                transform: scale(1.2);
            }
        }
    }

    &__title {
        color        : var(--black-color);
        font-size    : 3.2rem;
        margin-bottom: 1rem;
    }

    &__price {


        &-list {
            display: flex;

            &>span {
                font-size: 1.3rem;
                margin-left: 40px;
                text-decoration: line-through;
                margin-top: 8px;
            }
        }
        color        : var(--text-color);
        font-size    : 2.6rem;
        margin-bottom: 1rem;
    }

    &__detail {
        color        : var(--text-color);
        font-size    : 2rem;
        margin-bottom: 2rem;
    }
    &__color {

        display: flex;
        &_item {

            &>span {
                font-size: 1.2rem;
                padding: 5px;
            }

            &>button {
                color: white;
                border: none;
                height: 50px;
                width: 50px;
                font-family: "Noto Sans", sans-serif;
                border-radius: 50%;
                margin: 10px 15px 10px 0;
                cursor: pointer;
                
            }
        }

        &-Black {
            background-color: black;
        }
        &-Blue {
            background-color: rgb(69, 137, 214);
        }
        &-Pink {
            background-color: rgb(247, 102, 194);
        }
        &-Gray {
            background-color: rgb(181, 181, 181);
        }
        &-White {
            background-color: rgb(245, 245, 245);
            border          : 1px solid rgb(202, 201, 201);
        }

        &-selected {
            background-color: teal;
            color: white;
            // box-shadow: 0px 0px 10px 7px rgb(0, 204, 160);
        }

    }
    &__size {

        display: flex;
        margin: 10px 0;
        &_item {

            &>span {
                font-size: 1.2rem;
                padding: 5px;
            }

            &>button {
                color: black;
                border: none;
                padding: 8px 10px;
                font-family: "Noto Sans", sans-serif;
                cursor: pointer;
                margin: 5px 8px 5px 0 ;
            }
        }

        &-selected {
            background-color: teal;
        }
    }

    &__service {
        margin-top: 19px;
        &>button {
            background-color: var(--primary-color);
            border          : none;
            padding         : 5px 10px;
            border-radius   : 2rem;
            margin-bottom   : 2rem;
            cursor          : pointer;
            transition      : all 0.3s;

            &:hover {
                background-color: black;
                color           : white;
                transform       : translateY(-0.2rem);
            }
        }

        &>input {

            text-align    : center;
            width         : 8rem;
            padding-left  : 1.2rem;
            padding-top   : 0.2rem;
            padding-bottom: 0.2rem;
            border-radius : 2rem;
            margin-right  : 2rem;
            height: 25px;
        }


    }

    &__category {
        font-size: 1.6rem;

        &>span {
            color  : var(--primary-color);
            padding: 1rem;
        }
    }

    &__description {
        width  : 50%;
        padding: 2.5rem 4rem;


        p {
            font-size: 1.8rem;
        }
    }

}
.products {
    display  : flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    // position : relative;
    margin-top: 70px;
    margin-left: 150px;
    max-width: 1200px;
    &__item {
        position       : relative;
        display        : block;
        flex           : 0 0 33.333%;
        max-width      : 33.333%;
        height         : 350px;
        padding-left   : 16px;
        padding-right  : 16px;
        text-decoration: none;
        color          : var(--text-color);
        font-size      : 1.6rem;
        border-radius  : 10px;
        overflow       : hidden;

    }

    &__img {
        
        width        : 100%;
        height       : 70%;
        object-fit   : cover;
        border-radius: 10px;
        

        
    }

    &__name,
    &__price {
        margin-bottom: 1rem;
    }

    &__service {
        display        : flex;
        justify-content: space-between;
        padding-right  : 1rem;
    }

    &__button {
        font-weight     : 600;
        background-color: var(--primary-color);
        color           : var(--white-color);
        border          : none;
        border-radius   : 1.5rem;
        padding         : 0.5rem 1rem;
        cursor          : pointer;
        transition      : all 0.3s;

        &:hover {
            background-color: black;
            transform       : translateY(-0.2rem);
        }
    }

    &__icon>span {
        margin-left: 1rem;
        color      : black;
        cursor: pointer;
    }




}

@media (max-width:600px) {

    .product {

        flex-direction: column;

        &__img {
            width: 100%;
        }

        &__description {
            width: 100%;
        }
    }
}